/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "NorseBold";
    src: url(Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto+Slab&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(17 44 44);
}

.contentContainer {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 70%;
    border-radius: 8px;
    overflow: hidden;
}

.sideSplash {
    display: flex;
    flex-direction: column;
    background-image: url(leafsplash.jpg);
    background-size: 120%;
    background-position: center;
    background-size: cover;
    width: 40%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    height: 160px;
    margin-top: 30%;
    font-family: 'NorseBold', Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.odinLogo {
    width: 15%;
    height: auto;
}

.splashFooter {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20px;
    margin-top: auto;
}

a {
    color: inherit;
}

.mainArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 60%;
}

.upperArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: whitesmoke;
}

.textContainer {
    margin-left: 40px;
    margin-bottom: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    width: 85%;
}

.formArea {
    background-color: white;
    height: 400px;
    position: relative;	
    box-shadow: 0px 4px 5px 1px #DBDBDB;
}

.flexRow {
    display: flex;
    justify-content: flex-start;
}

.flexColumn {
    margin-right: 80px;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

input {
    margin-top: 1px;
    width: 140%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    border-color: rgb(1, 1, 158);
    outline: none;
}

.inputError {
    border: 1px solid red;
}

#matchError {
    display: none;
    margin-top: 4px;
    font-size: 14px;
    color: red;
}

.lowerArea {
    flex: 1;
    background-color: whitesmoke;
}

button {
    position: absolute;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(64, 100, 64);
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 8px;
    padding: 15px 60px;
}

button:hover {
    border: 1px solid rgb(64, 100, 64);
    color: rgb(64, 100, 64);
    background-color: white;
    transition: .05s;
}

.lowerArea .textContainer {
    margin-top: 120px;
    font-size: 18px;
}

#logIn {
    color: green;
}